@media screen and (min-width: 783px) {
  :root {
    --vc-navbar-width: 60px;
  }

  #wpcontent,
  #wpbody {
    padding: 0;
    height: 0;
  }

  #vc_navbar {
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    height: 0;
    min-height: 0;
  }

  #vc_navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: initial;
    bottom: 0;
    width: var(--vc-navbar-width);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 99999;
  }

  #vc_navbar-custom li,
  #vc_navbar-custom .vc_navbar-header {
    float: none !important;
    height: auto;
  }

  #vc_navbar-custom .vc_navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #vc_navbar-custom .vc_dropdown-list {
    left: 100%;
    right: initial;
    top: -58px;
    z-index: 999999;
  }

  #vc_navbar-custom #vc_screen-size-control .vc_dropdown-list {
    top: -225px;
  }

  #vc_inline-frame-wrapper {
    left: var(--vc-navbar-width);
    right: 0;
    width: auto !important;
  }

  .vc_ui-panel-window {
    top: 0 !important;
    bottom: 0 !important;
    left: var(--vc-navbar-width) !important;
    width: 380px !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
  }

  .vc_ui-minimize-button {
    display: none !important;
  }

  .vc_ui-panel-header-actions,
  .vc_ui-search-box {
    width: 100%;
  }

  .vc_message {
    top: 0 !important;
  }
}

