@use "sass:color";

@mixin panels {
  // Scrollbars
  .vc_ui-panel-content-container,
  .fip-vc-theme-grey.vc-icons-selector .fip-icons-container {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 5px;
      background: color.adjust($background-color, $lightness: 20%);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: color.adjust($background-color, $lightness: 30%);
    }
  }

  // Panels and popups
  .vc_ui-panel-content-container,
  .vc_ui-panel-popup,
  .vc_ui-helper-modal-ai-preloader,
  .vc_ui-prompt.vc_ui-prompt-presets.vc_visible,
  .vc_ui-prompt.vc_ui-prompt-templates.vc_visible,
  .vc_ui-prompt.vc_ui-prompt-view-presets.vc_visible,
  .vc-icons-selector .selector-popup,
  .vc_ui-tabs-line .vc_ui-tabs-line-dropdown,
  .vc_general.vc_ui-tabs-line > .vc_active > .vc_ui-tabs-line-trigger {
    background-color: $background-color;
    color: $color;
  }

  // Dropdowns
  .vc_ui-tabs-line-trigger {
    color: $color;
  }

  .vc_ui-tabs-line .vc_ui-tabs-line-dropdown {
    border-color: color.adjust($background-color, $lightness: 10%);
  }

  .vc_ui-list-bar {
    background-color: color.adjust($background-color, $lightness: -5%);
    border: 1px solid color.adjust($background-color, $lightness: 10%);

    .vc_ui-list-bar-item-trigger {
      color: $color;
    }
  }

  .vc_ui-list-bar .vc_ui-list-bar-item:hover {
    background-color: color.adjust($background-color, $lightness: 5%);
  }

  // Text
  .vc_ui-panel-content-container h3,
  .vc_ui-panel-content-container p,
  .vc_ui-control-button-text {
    color: $color !important;
  }

  // Footer
  .vc_ui-panel-footer-container {
    background-color: color.adjust($background-color, $lightness: 5%) !important;
    border-top: 1px solid color.adjust($background-color, $lightness: 10%) !important;
  }

  // Add element panel
  .vc_add-element-container .wpb-content-layouts li:hover,
  .vc_add-element-container .wpb-content-layouts a.snfw-highlighted,
  .vc_add-element-container .wpb-content-layouts a:focus,
  .vc_ui-template-card::before {
    background-color: color.adjust($background-color, $lightness: 10%);
  }

  .vc_general.vc_ui-tabs-line .vc_ui-tabs-line-trigger:hover,
  .vc_general.vc_ui-tabs-line .vc_ui-tabs-line-trigger:focus {
    background-color: color.adjust($ui-background-color, $lightness: 10%);
  }

  .vc_add-element-container .wpb-content-layouts:not(.wpb-teasers-grid) a {
    color: #879fc9;
  }

  .vc_shortcode-link[data-tag^="vc"] .vc_element-icon {
    filter: invert(99%) sepia(6%) saturate(237%) hue-rotate(196deg) brightness(113%) contrast(87%);
  }

  #vc_elements_name_filter {
    &, &:focus {
      background-color: color.adjust($background-color, $lightness: -5%);
      color: $color;
      border: 1px solid color.adjust($background-color, $lightness: 10%);
    }
  }

  .vc_add-element-container .wpb-content-layouts .wpb-element-title,
  .vc_ui-template-card-name {
    color: $color;
  }

  // Row layout editor
  .vc_layout-panel-switcher .vc_layout-btn {
    background-color: $background-color !important;
    color: $color !important;
  }

  // Page structure panel
  .page-structure-item {
    background: #2e2e2e;
  }

  .page-structure-item--section {
    background: #2a2a2a;
  }

  .page-structure-item--row,
  .page-structure-item--inner-row,
  .page-structure-item--grid-container,
  .page-structure-item--flexbox-container {
    background: #3a3a3a;
  }

  .page-structure-item--column,
  .page-structure-item--inner-column,
  .page-structure-item--grid-item,
  .page-structure-item--flexbox-item {
    background: #444;
  }

  // Template library panel
  #vc_templates_name_filter {
    &, &:focus {
      background-color: color.adjust($background-color, $lightness: -5%);
      color: $color;
      border: 1px solid color.adjust($background-color, $lightness: 10%);
    }
  }

  .vc_ui-template-list .vc_ui-list-bar-item {
    color: $color;
    border-color: color.adjust($background-color, $lightness: 10%);

    &:hover,
    &:focus,
    &:active {
      background-color: color.adjust($background-color, $lightness: 5%);
    }
  }

  .vc_ui-template-list .vc_active .vc_ui-list-bar-item,
  .vc_ui-template-list .vc_loading .vc_ui-list-bar-item {
    background-color: color.adjust($background-color, $lightness: 5%);
  }

  .vc_ui-panel-template-item-name {
    color: $color;
  }

  .vc_ui-panel-download,
  .vc_ui-panel-update,
  .vc_ui-panel-loading {
    background-color: color.adjust($background-color, $lightness: -5%);
    border: 1px solid color.adjust($background-color, $lightness: 10%);
    color: $color;
  }

  // SEO panel
  #vc_ui-seo-general .page-preview {
    background-color: color.adjust($background-color, $lightness: -5%);
    border: 1px solid color.adjust($background-color, $lightness: 10%);

    #vc_seo-date,
    #vc_seo-url {
      color: color.adjust($color, $lightness: 20%);
    }

    #vc_seo-title {
      color: $color;
    }
  }

  #vc_ui-seo-social .wpb-social-net-preview {
    .wpb-social-placeholder-image,
    .wpb-preview-content {
      background-color: color.adjust($background-color, $lightness: -5%);
      border: 1px solid color.adjust($background-color, $lightness: 10%);
    }
  }

  // Message box
  .vc_color-warning.vc_message_box {
    background-color: color.adjust($background-color, $lightness: -5%);
    border-color: color.adjust($background-color, $lightness: 10%);
    color: $color;
  }

  .vc_color-success.vc_message_box {
    background-color: color.adjust($background-color, $lightness: -5%);
    border-color: color.adjust($background-color, $lightness: 10%);
    color: $color;
  }

  // Settings panel
  a.vc_post-custom-layout:hover,
  a.vc_post-custom-layout.vc-active-post-custom-layout {
    background-color: color.adjust($background-color, $lightness: 30%);
  }

  .vc_layout-label {
    color: $color;
  }
}
