@media screen and (min-width: 961px) {

  :root {
    --vc-navbar-width: 50px;
    --vc-min-panel-width: 440px;
  }

  #wpcontent,
  #wpbody {
    padding: 0;
    height: 0;
  }

  #vc_navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: initial;
    bottom: 0;
    width: var(--vc-navbar-width);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 99999;
  }

  #vc_navbar li,
  #vc_navbar .vc_navbar-header {
    float: none !important;
    height: auto;
  }

  #vc_navbar .vc_navbar-brand {
    padding: 25px;
  }

  #vc_navbar .vc_save-buttons {
    flex-direction: column;
    gap: 4px;
    margin: 0 2px;
  }

  #vc_navbar .vc_save-buttons .vc_btn {
    margin: 2px;
    width: 70%;
  }

  #vc_navbar .vc_save-buttons .vc_btn p {
    font-size: 10px;
  }

  #vc_navbar a.vc_icon-btn {
    width: var(--vc-navbar-width);
    height: 45px;
    padding: 24px;
    font-size: 20px;
  }

  #vc_navbar .vc_navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #vc_navbar .vc_navbar-nav > li:not(.vc_save-buttons) {
    height: 48px;
  }

    #vc_navbar .vc_dropdown-list {
    left: 100%;
    right: initial;
    top: -75px;
    z-index: 999999;
  }

  #vc_navbar #vc_screen-size-control .vc_dropdown-list {
    top: -145px;
  }

  #vc_inline-frame-wrapper {
    left: var(--vc-navbar-width);
    right: 0;
    top: 0 !important;
    width: auto !important;
    height: 100vh !important;
  }

  #vc_inline-frame {
    height: 100% !important;
  }

  .vc_ui-panel.vc_ui-panel-window {
    top: 0 !important;
    bottom: 0 !important;
    left: var(--vc-navbar-width) !important;
    width: var(--vc-min-panel-width) !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
  }

  .vc_ui-minimize-button {
    display: none !important;
  }

  .vc_ui-panel-header-actions,
  .vc_ui-search-box {
    width: 100%;
  }

  .vc_message {
    top: 0 !important;
    z-index: 99999 !important;
  }

  .vc_add-element-container .wpb-content-layouts {
    gap: 1px;
  }

  .vc_ui-panel-content {
    margin-top: 0 !important ;
  }

  .vc_ui-panel-content.vc_properties-list-init {
    margin: auto !important;
  }

  #vc_navbar .vc_icon-btn.vc_active {
    background-color: #00447F;
  }

  .ui-resizable-handle {
    display: none !important;
  }

  .vc_hide-description .vc_element-description {
    display: none !important;
  }

  .vc_compact-view .wpb-content-layouts-container h4 {
    margin: 0 0 10px !important;
  }

  .vc_compact-view .wpb-content-layouts {
    margin: 0 !important;
    grid-template-columns: repeat(auto-fit, 96px) !important;
  }

  .vc_compact-view .vc_element-description {
    font-size: 12px !important;
  }

  .vc_compact-view .vc_shortcode-link {
    font-size: 13px;
  }

  .vc_compact-view .vc_element-icon {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=sidebar-for-wpb.css.map */
