.vc_message-close {
  position: absolute;
  top: 9px;
  right: 6px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0;
  font-size: 12px;
}
